/* ===== MAIN LAYOUT ===== */
.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* ===== SIDEBAR ===== */
app-sidebar {
  width: 240px;          /* fixed sidebar width */
  flex-shrink: 0;        /* prevent shrinking */
}

/* ===== CONTENT ===== */
.content {
  flex: 1;               /* take remaining space */
  padding: 20px;
  overflow-x: auto;
  box-sizing: border-box;
}
.table-container {
  max-width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #d1d5db;
  padding: 8px 12px;
}

th {
  background-color: #f3f4f6;
}
