.sidebar {
  width: 220px;
  height: 100vh;
  background: #1e293b;
  color: white;
  padding: 15px;
}

a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
}

.active {
  font-weight: bold;
}
.logout-btn {
  width: 100%;
  padding: 8px;
  margin-top: 12px;
  background-color: #dc2626;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #b91c1c;
}

